<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
  

</head>
<body>
  
<p class="tip"></p>
<div class="cont">
  <div class="form sign-in">
    <form action="/users/login" method="POST">
      <h2>Welcome back,</h2>
      <label>
        <span>Email</span>
        <input type="email" 
        id="email"
        name="email"
        class="form-control"/>
      </label>
      <label>
        <span>Password</span>
        <input
            type="password"
            id="password"
            name="password"
            class="form-control"
          />
      </label>
      <button type="submit" class="submit">Sign In</button>
    </form>
    
  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>New here?</h2>
        <p>Sign up and discover great amount of new opportunities!</p>
      </div>
      <div class="img__text m--in">
        <h2>One of us?</h2>
        <p>If you already has an account, just sign in. We've missed you!</p>
      </div>
      <div class="img__btn">
        <span class="m--up">Sign Up</span>
        <span class="m--in">Sign In</span>
      </div>
    </div>
    <div class="form sign-up">
      <form action="/users/register" method="POST">
      <h2>Time to feel like home,</h2>
      <label>
        <span>Name</span>
        <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
      </label>
      <label>
        <span>Email</span>
        <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
      </label>
      <label>
        <span>Password</span>
        <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
      </label>
      <label>
        <span>Confirm password</span>
        <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
      </label>
      <button type="submit" class="submit">Sign Up</button>
      </form>
    </div>
  </div>
</div>

  <script>
    document.querySelector('.img__btn').addEventListener('click', function() {
  document.querySelector('.cont').classList.toggle('s--signup');
});
  </script>

</body>
</html>
